/**
 * @author Igor Khlaponin igor.boxmails@gmail.com
 */
#field {
	border: 1px solid #000000;
	width: 400px;
	height: 400px;
	position: absolute;
	top: 230px;
	left: 50%;
	margin: 0 0 0 -200px;
	z-index: auto;
}

#turnfield {

}

#fieldBackground {
	position:absolute;
	top: 230px;
	left: 50%;
	margin: 0 0 0 -200px;
	z-index: -1;
}

.whitecell {
	position: absolute;
	width: 50px;
	height: 50px;
	border: 1px solid #000000;
	top: 0;
	left: 0;
	background-color: #bae98f;
}

.blackcell {
	position: absolute;
	width: 50px;
	height: 50px;
	border: 1px solid #ffffff;
	top: 0;
	left: 0;
	background-color: #379628;
}

.whitepawn {
	position: relative;
	width: 40px;
	height: 40px;
	top: 5px;
	left: 5px;
	border-radius:20px;
	border: 1px solid #000000;
	background-color: #ffffff;
}

.blackpawn {
	position: relative;
	width: 40px;
	height: 40px;
	top: 5px;
	left: 5px;
	border-radius:20px;
	border: 1px solid #ffffff;
	background-color: #000000;
}
.white-pawn-show {
	width: 40px;
	height: 40px;
	border-radius:20px;
	border: 1px solid #000000;
	top: 5px;
	right: 10px;
	background-color: #ffffff;
}


.black-pawn-show {
	width: 40px;
	height: 40px;
	border-radius:20px;
	border: 1px solid #ffffff;
	top: 5px;
	right: 10px;
	background-color: #000000;
}

.versus-position {
	position: absolute;
	top: 70px;
	text-align: center;
	width: 400px;
	height: 50px;
	left: 50%;
	margin: 0 0 0 -200px;
	z-index: auto;
}

.tips-position {
	position: absolute;
	top: 100px;
}